* {
    font-family: "montserrat";
    padding: 0;
    margin: 0;
    color: #222;
    box-sizing: border-box;
    text-decoration: none;
}

/* SCSS HEX */
$licorice: #14080eff;
$olivine: #acc196ff;
$vanilla: #e9eb9eff;
$caribbean-current: #026c7cff;
$midnight-green: #055864ff;

/* SCSS RGB */
$licorice: rgba(20, 8, 14, 1);
$olivine: rgba(172, 193, 150, 1);
$vanilla: rgba(233, 235, 158, 1);
$caribbean-current: rgba(2, 108, 124, 1);
$midnight-green: rgba(5, 88, 100, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #14080eff, #acc196ff, #e9eb9eff, #026c7cff, #055864ff);
$gradient-right: linear-gradient(90deg, #14080eff, #acc196ff, #e9eb9eff, #026c7cff, #055864ff);
$gradient-bottom: linear-gradient(180deg, #14080eff, #acc196ff, #e9eb9eff, #026c7cff, #055864ff);
$gradient-left: linear-gradient(270deg, #14080eff, #acc196ff, #e9eb9eff, #026c7cff, #055864ff);
$gradient-top-right: linear-gradient(45deg, #14080eff, #acc196ff, #e9eb9eff, #026c7cff, #055864ff);
$gradient-bottom-right: linear-gradient(135deg, #14080eff, #acc196ff, #e9eb9eff, #026c7cff, #055864ff);
$gradient-top-left: linear-gradient(225deg, #14080eff, #acc196ff, #e9eb9eff, #026c7cff, #055864ff);
$gradient-bottom-left: linear-gradient(315deg, #14080eff, #acc196ff, #e9eb9eff, #026c7cff, #055864ff);
$gradient-radial: radial-gradient(#14080eff, #acc196ff, #e9eb9eff, #026c7cff, #055864ff);

body {
    background: #181818;
}
nav {
    width: 100%;
    height: 72px;
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    position: relative;
    align-items: center;
    .left {
        color: $vanilla;
        font-weight: 600;
    }
    .right {
        display: flex;
        gap: 12px;
        align-items: center;
        a {
            color: #999;
        }
        a:hover,
        a:active {
            color: $vanilla;
        }
    }
}

nav::after {
    content: "";
    height: 2px;
    background: #333;
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-8px);
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

h1 {
    color: $olivine;
    font-size: 48px;
}
.desc {
    font-size: 22px;
    color: white;
}

.downloader {
    display: flex;
    gap: 20px;
    height: 48px;
    max-width: 700px;
    width: 100%;
    padding: 0 4px;
    flex-wrap: wrap;
    margin-bottom: 48px;
    input {
        height: 100%;
        width: 75%;
        background-color: #181818;
        outline: 1px solid $olivine;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        color: white;
        padding: 4px;
        min-width: 300px,
    }
    ::placeholder {
        color: $olivine;
    }
    button {
        background-color: $midnight-green;
        width: max-content;
        white-space: nowrap;
        padding: 8px 24px;
        font-size: 18px;
        color: $vanilla;
        border: none;
        outline: none;
        border-radius: 4px;
    }
}

.cont {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    video {
        height: 100%;
        width: 100%;
        max-width: 700px;
    }
}

.download_btn {
    padding: 12px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: $midnight-green;
    a {
        color: $vanilla;
        font-size: 24px;
    }
}

.Instructions {
    display: flex ;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: 155px;
    aspect-ratio: 5/6;
    border-radius: 4px;
    // background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: 12px;
    gap: 24px;
    img {
        width: 80%;
    }
    p {
        font-size: 14px;
        color: white;
    }
}


footer {
    // height: 200px;
    color: white;
    display: flex;
    width: 100%;
    padding: 48px 24px;
    .left {
        color: white;
    }
}